<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Add your custom styles here */
        /* Responsive styles for mobile devices */
        @media only screen and (max-width: 600px) {
            /* Adjust styles for mobile here */
        }
    </style>
</head>

<body>
    <div style="background-color: #f5f5f5; padding: 20px;">
        <div style="max-width: 600px; margin: 0 auto;">
            <div style="background-color: #ffffff; padding: 20px; text-align: center;">
                <img src="https://escraowme.cyclic.app/rahmoun-logo1.png" alt="Logo" style="max-width: 200px;">
            </div>

            <div style="background-color: #ffffff; padding: 20px;">
                <h1>Your Deal Was Deleted</h1>
                <p>Dear Seller,</p>
                <p>We regret to inform you that your deal named "<strong>{{name}} </strong>" has been deleted.</p>
                <p>If you have any questions or need further assistance, please feel free to reach out to our support team.</p>
            </div>

            <div style="background-color: #ffffff; padding: 20px; text-align: center;">
                <p>If you have any questions, please contact us at:</p>
                <p>Email:escrawme@contact.com</p>
            </div>
        </div>
    </div>
</body>

</html>
